DAQ
  SERVER 0 TCB        localhost 7809
  SERVER 1 IADCDAQ1   localhost 7811
  SERVER 2 IADCDAQ2   localhost 7812
  SERVER 3 IADCMERGER localhost 7813
  SERVER 4 FADCDAQ    localhost 7814  
END


STRG # For this, contact WJ Lee.
  ADCTYPE  4
  ENABLED  1
  ZSU	   2
  #PSC      1
  ICRD	   /data/onldaq/rcdev/qsum500_iadc.cut
END


TCB
   ~~
END

FADCT
    ~~
END

SADCT
    ~~
END
