TCB
  TYPE    0             # Which kind of TCB is used? Except #2, no difference at all.
                        #   All experiments don't use #2. 
                        #   (DAQConfig/src/TCBConf.cc, OnlConsts/OnlConsts/adcconsts.hh)
  CW	  64            # Coincidence window [ns]
                        #   When MTHRF exceeds 1, we consider the delay from CW of TCB,
                        #   but we don't have to care of it in the prototype phase.
                        #   TCB's calculation time is about 400 ns.
  PTRIG	  1000 # 35     # Trigger for the pedestal data [ms]
  MTHRF	  1 # 38        # Multiplicity condition of FADC
                        #   ex) MTHRF 2 : To make a trigger,
                        #       we need at least 2 channels of total FADCs.
  PSCF	  1             # Prescale of FADC : DAQ system will store one event every "PSCF" event.
                        #   This is for the source data taking run.
  TRGON	  3             # What kind of trigger does TCB use?
                        #   1-FADC self trg, 2-Pedestal trg, 3-(1+2) trg
                        #   4-External trg, 5-(1+4) trg, 6-(2+4)trg, 7-(1+2+4) trg
END

SADCT  1  32             # mid nch
  ENABLED  1
  CID        1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32
  PID        1 2 3 4 5 6 7 8 9 10 11  0 12 13 14  0 15 16 17  0 18 19 20  0 21 22 23 24 25 26 27 28
  CW         256
  #CW        512
  GW         2000
  DLY        2000
  PSW        256
#  THR       135 135 135 135 190 190 190 190 150 150 150 150 170 170 170 170 140 140 140 140 120 120 120 120 310 310 310 310 280 280 280 280 250 250 250 250 200 200 200 200
#  THR       135 135 135 135 170 170 170 170 140 140 140 140 160 160 160 160 140 140 140 140 100 100 100 100 450 450 420 420 400 400 300 300
  THR        5000 #100
  TLT1       1x2x3x4
  TLT2       1x2x4
  TLT3       1x2x3
  TLT4       1x2x3
  TLT5       1x2x3
  TLT6       1x2x3
  TLT7       1x2+3x4
  TLT8       1x2+3x4
END
