TCB
  TYPE    0             # Which kind of TCB is used? Except #2, no difference at all.
                        #   All experiments don't use #2. 
                        #   (DAQConfig/src/TCBConf.cc, OnlConsts/OnlConsts/adcconsts.hh)
  CW	  64            # Coincidence window [ns]
                        #   When MTHRF exceeds 1, we consider the delay from CW of TCB,
                        #   but we don't have to care of it in the prototype phase.
                        #   TCB's calculation time is about 400 ns.
  PTRIG	  1000 # 35     # Trigger for the pedestal data [ms]
  MTHRF	  1 # 38        # Multiplicity condition of FADC
                        #   ex) MTHRF 2 : To make a trigger,
                        #       we need at least 2 channels of total FADCs.
  PSCF	  1             # Prescale of FADC : DAQ system will store one event every "PSCF" event.
                        #   This is for the source data taking run.
  TRGON	  3             # What kind of trigger does TCB use?
                        #   1-FADC self trg, 2-Pedestal trg, 3-(1+2) trg
                        #   4-External trg, 5-(1+4) trg, 6-(2+4)trg, 7-(1+2+4) trg
END

FADCT  3  4             # mid nch
  ENABLED  1
  CID	   1 2 3 4      # Channel ID
  PID	   1 2 3 4      # PMT ID
  TRGON	   1            # This means the same with "TRGON" of TCB.
  DACOFF   2048 # 3700  # Offset; 
                        #   0 - (-2.5V ~ 0V) window, 
                        #   2048 - (-2.5/2V ~ 2.5/2V) window
                        #   We can set diff val for each ch (10 20 30 50).
  DLY	   1000         # Get the data corresponding to the time range [ns] [0~32,760].
                        #   Waveform data is stored at the time 
                        #   when TCB sends a data saving trggier singal to the boards, 
                        #   "-(CW[FADC] + ~360[TCB's (intrinsic) delay time])".
                        #   So, we need to set the delay (DLY) for data acquisition. 
                        #   ((-DLY) is 0 in T axis!)
                        #   Time for peestal + CW of fadc + TCB's intrinsic delay (~360ns).
                        #   *. The actually set value for DLY = DLY + 70 ~80ns.
                        #      I don't know the reason, 
                        #      but you can just set DLY following the above rule.
                        #   If we set DLY = 3000, 
                        #   then the trg pos locates at "3000(DLYE)-(CW[FADC]+~400)" in T axis.
  CW	   64           # Coincidence window [ns], [8~32,760].
  TM	   1            # Trigger mode
                        #   1 - pulse height, 2 - pulse width, 3 - 1 or 2 (COSIN) or peak sum (NKFADC500 manual).
  PCT	   1            # Pulse count threshold
                        #   how many pulse in the PCI for triggering fadc.
  PCI	   1000         # Pulse counting interval [ns]
                        #   64 ~ 16,320 ns
                        # PCT/PCI are described in detail in p11 of the manual.
  THR	   250 # 85     # Threshold value from the baseline (~ pedestal)
                        #   We can set diff value for each ch (10 20 33 50).
  TLT	   1+2+3+4      # Trigger lookup table : + -> or, x -> and.
  RL	   16      # Record length [2*(64*RL-16) ns] (0ns is included.) (RL = 2^[0 ~ 8])
  POL      0 # 1        # Polarity: 0 - nega & flipped, 1 - posi & unflipped
                        #   For the nega pol, 
                        #     the signal needs to exceed "(ped-thr)" to fire a trg.
                        #   For the posi pol, 
                        #     the signal needs to exceed "(ped+thr)" to fire a trg.
  #DTIME    10000       # Hardware deadtime to every single event. [ns] [0~8,355,840]
  #PSW      100         # Range for the peak area (peak sum) [ns] [0~8,190]
END
